body {
    background-color: rgb(20, 20, 20);
    width: 400px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    padding-top: 20px;
    border: 5px solid rgb(255, 255, 255);
    color: rgb(239, 177, 130);
}

#cat_tab {
    margin-bottom: 20px;
}

#tab_option {
    display: flex;
    justify-content: flex-start;
}

a {
    border: 1px solid rgb(136, 255, 0);
    border-radius: 0.5em;
    margin: 0 15px 0 0;
    padding: 1px 5px;
}

.album {
    display: flex;
}

.album section {
    border: 1px solid rgb(136, 255, 0);
    border-radius: 0.5em;
    margin: 1px 10px 0 0;
    margin-top: 0;
    padding: 0px 5px;
}
